# Exercise 61 : Average

In [10]:
num_list = []
total = 0
while True:
    num = int(input())
    num_list.append(num)
    
    if num == 0:
        if num_list.index(0) != 0:
            num_list.remove(0)
            break
        else:
            print("첫번째 숫자는 0이 될 수 없습니다. 다시 입력하세요.")
            num_list.remove(0)
    else:
        total += num

average = total / len(num_list)
average

0
첫번째 숫자는 0이 될 수 없습니다. 다시 입력하세요.
1
2
3
4
0

2.5

# Exercise 63 : Temperature Conversion Table

In [23]:
print("섭씨\t" "화씨")
for i in range(0, 100):
    print("%d\t %0.1f" %(i, (i * 1.8) + 32))

섭씨	화씨
0	 32.0
1	 33.8
2	 35.6
3	 37.4
4	 39.2
5	 41.0
6	 42.8
7	 44.6
8	 46.4
9	 48.2
10	 50.0
11	 51.8
12	 53.6
13	 55.4
14	 57.2
15	 59.0
16	 60.8
17	 62.6
18	 64.4
19	 66.2
20	 68.0
21	 69.8
22	 71.6
23	 73.4
24	 75.2
25	 77.0
26	 78.8
27	 80.6
28	 82.4
29	 84.2
30	 86.0
31	 87.8
32	 89.6
33	 91.4
34	 93.2
35	 95.0
36	 96.8
37	 98.6
38	 100.4
39	 102.2
40	 104.0
41	 105.8
42	 107.6
43	 109.4
44	 111.2
45	 113.0
46	 114.8
47	 116.6
48	 118.4
49	 120.2
50	 122.0
51	 123.8
52	 125.6
53	 127.4
54	 129.2
55	 131.0
56	 132.8
57	 134.6
58	 136.4
59	 138.2
60	 140.0
61	 141.8
62	 143.6
63	 145.4
64	 147.2
65	 149.0
66	 150.8
67	 152.6
68	 154.4
69	 156.2
70	 158.0
71	 159.8
72	 161.6
73	 163.4
74	 165.2
75	 167.0
76	 168.8
77	 170.6
78	 172.4
79	 174.2
80	 176.0
81	 177.8
82	 179.6
83	 181.4
84	 183.2
85	 185.0
86	 186.8
87	 188.6
88	 190.4
89	 192.2
90	 194.0
91	 195.8
92	 197.6
93	 199.4
94	 201.2
95	 203.0
96	 204.8
97	 206.6
98	 208.4
99	 210.2

# Exercise 67 : Admission Price

In [14]:
cnt = 0
total = 0.0
while True:
    age_str = input()
    if age_str == "":
        break
    else:
        cnt += 1
        age = int(age_str)
        if int(age) <= 2:
            cost = 0.0
        elif int(age) >= 3 and int(age) < 12:
            cost = 14.00
        elif int(age) >= 65:
            cost = 18.00
        else:
            cost = 23.00
    total += cost
    
average = float(total/cnt)
print("%.2f" %(average))

5
6
98
15

17.25

# Exercise 66 : Compute a Grade Point Average

# Exercise 72 : Is a String a Palindrome?

In [18]:
str = input()
flag = False

for i in range(int(len(str)/2) + 1):
    if str[i] != str[len(str)-1-i]:
        flag = False
        break
    else:
        flag = True
        
if flag == True:
    print("팰린드롬입니다.")
else:
    print("팰린드롬이 아닙니다")

hannah
팰린드롬입니다.

# Exercise 74 : Multiplication Table

In [27]:
for i in range(1, 11):
    print("\t%d" %(i), end=' ')
print()
for j in range(1, 11):
    print("%d" %(j), end="")
    for i in range(1, 11):
        print("\t%d" %(int(i)*int(j)), end="")
    print("")

	1 	2 	3 	4 	5 	6 	7 	8 	9 	10
1	1	2	3	4	5	6	7	8	9	10
2	2	4	6	8	10	12	14	16	18	20
3	3	6	9	12	15	18	21	24	27	30
4	4	8	12	16	20	24	28	32	36	40
5	5	10	15	20	25	30	35	40	45	50
6	6	12	18	24	30	36	42	48	54	60
7	7	14	21	28	35	42	49	56	63	70
8	8	16	24	32	40	48	56	64	72	80
9	9	18	27	36	45	54	63	72	81	90
10	10	20	30	40	50	60	70	80	90	100

# Exercise 75 : Greatest Comoom Divisor

In [33]:
A = int(input())
B = int(input())
r = -1

while True:
    if r == 0:
        break
    r = A % B
    A = B
    B = r

A

27
36

9

# Exercise 77 : Binary to Dicimal

In [47]:
str = input()
num = 0

for i in range(len(str)-1, -1, -1):
    num += int(str[i]) * pow(2, len(str)-1-i)
    
num

1101

13

# Exercise 78 : Decimal to Binary

In [57]:
num = int(input())
remove_list = []
quarter = -1

while True:
    remove = num % 2
    num = int(num / 2)
    remove_list.append(remove)
    if num == 0:
        break

    
for i in range(len(remove_list)-1, -1, -1):
    print(remove_list[i], end="")

16
10000